<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - aoc_2024</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/aoc_2024.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">aoc_2024</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                            Days
                        </button>
                        <div class="dropdown-menu">
                            <a class="nav-link dropdown-item" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="1">Day 1</a>
                            <a class="nav-link dropdown-item" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="2">Day 2</a>
                            <a class="nav-link dropdown-item" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="3">Day 3</a>
                            <a class="nav-link dropdown-item" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="4">Day 4</a>
                            <a class="nav-link dropdown-item" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="5">Day 5</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="6">Day 6</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="7">Day 7</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="8">Day 8</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="9">Day 9</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="10">Day 10</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="11">Day 11</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="12">Day 12</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="13">Day 13</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="14">Day 14</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="15">Day 15</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="16">Day 16</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="17">Day 17</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="18">Day 18</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="19">Day 19</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="20">Day 20</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="21">Day 21</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="22">Day 22</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="23">Day 23</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="24">Day 24</a>
                            <a class="nav-link dropdown-item disabled" asp-area="" asp-controller="Home" asp-action="Day" asp-route-day="25">Day 25</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - aoc_2024
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>